<launch>

    <!-- 通信 -->
    <include file="$(find robot_driver)/launch/robot_driver.launch"/>

    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch"/> 

    <include file="$(find livox_repub)/livox_repub.launch"/> 

    <!-- 发布用于建图、导航的TF关系与小车外形可视化 -->
    <include file="$(find sentry_navigation)/launch/robot_model_visualization.launch"/>
    
</launch>
